<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Todo List</title>
</head>

<h1>Booking List</h1>
{% if bookings %}
<body>
{% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
<div class="container-fluid">
    <div class="col-sm-8 text-left">

    <div class="table-bordered">
        <table class="table">
            <thead>
            <tr class="d-flex">
                <th class="col-3">Booking</th>
<!--                <th class="col-3">Date</th>-->
                <th class="col-3">Price</th>
                <th class="col-3">Available</th>
            </tr>
            </thead>
            {% for booking in bookings %}
            <tbody>
            <tr class="d-flex">
                <td class="col-3"> {{ booking.name_of_booking }}</td>
<!--                <td class="col-3"> {{ item.date_of_booking }}</td>-->
                <td class="col-3"> {{ booking.price_of_booking }}</td>
                <td class="col-3">
                    {% if booking.available %}
                    Available
                    {% else %}
                    Unavailable
                    {% endif %}
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</div>
</div>

<div class="container-fluid">
<a href="/create_new/" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Create_Booking</a>
</div>
<br>
</body>
{% else %}
<br>
<p>There are no bookings</p>
<br>
<a href="/create_new/" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Click here to add a new Booking</a>
{% endif %}
</html>



